.status-bar {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.status-bar__column {
  display: flex;
  width: 33%;
}

.status-bar__column .fa-battery-full {
  margin: 0px 5px 0px 5px;
}

.status-bar__column .fa-bolt {
  margin: 0px 5px 0px 5px;
}

.status-bar__column:first-child {
  justify-content: flex-start;
  font-weight: 600;
  margin-left: 5px;
}

.status-bar__column:first-child span {
  margin-right: 5px;
  font-size: 15px;
}

.status-bar__column:nth-child(2) {
  justify-content: center;
}
.status-bar__column:last-child {
  justify-content: flex-end;
}
